[Unit]
Description=Poll public IP for coord1.ghalbol.com GoDaddy DDNS

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target
